# dependencies
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files
*.log
*.tmp
*.temp

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
build/
*.tsbuildinfo 